<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <div class="button-bar">
        <a class="button button-clear">登陆</a>
        <a class="button button-clear">注册</a>
        <a class="button button-clear" hidden></a>
      </div>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <div class="list">
          <div class="item item-divider">
            找导购
          </div>
          <ion-item nav-clear menu-close href="#/app/search">
            找导购
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/mingpian">
           导购员名片
          </ion-item>
          <div class="item item-divider">
            服务
          </div>
          <ion-item nav-clear menu-close href="#">
            供需圈
          </ion-item>
          <ion-item nav-clear menu-close href="#">
            活动
          </ion-item>
          <div class="item item-divider">
            我的
          </div>
          <ion-item nav-clear menu-close href="#">
            下载家哇
          </ion-item>
          <ion-item nav-clear menu-close href="#">
            我要吐槽
          </ion-item>
          <ion-item nav-clear menu-close href="#">
            我的预约
          </ion-item>
          <ion-item nav-clear menu-close href="#">
            我的收藏
          </ion-item>
          <ion-item nav-clear menu-close href="#">
            我的活动
          </ion-item>
          <ion-item nav-clear menu-close href="#">
            我的供需圈
          </ion-item>
          <div class="item item-divider">
            其他
          </div>
          <ion-item nav-clear menu-close ng-click="login()">
            Login
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/search">
            Search
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/browse">
            browse
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/playlists">
            Playlists
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/reorder">
            reorder
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/tabs">
            tabs
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/camera">
            camera
          </ion-item>
          <ion-item nav-clear menu-close href="#/app/qinjia">
            亲加云通讯
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
