<ion-view  view-title="导购员名片">
    <ion-content class="contentBg">
        <div >
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col ">
                    <div  class="icon-er"><img ng-click="showPopup()" src="img/er.png"/></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                </div>
                <div class="col col-20">
                    <div class="icon-ctrl"><img  src="img/icon_order.png"/></div>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col col-top col-20">
                    <div class="icon-ctrl"><img  src="img/icon_phone.png"/></div>
                </div>
                <div class="col">
                    <div class="icon-head responsive"><img  src="img/1.jpg"/>
                    </div>
                    <div  class="icon-logo">
                        <img src="img/logo01.jpg"/>
                    </div>
                </div>
                <div class="col col-top col-20">
                    <div class="icon-ctrl"><img  src="img/icon_talk.png"/></div>
                </div>
            </div>
        <div class="row">
            <div class="col">
                <h3 class="text-title">张英姿</h3>
                <h5 class="text-title">门店：曲美家具青岛专卖店</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="div-visibility-hidden">.col</div>
            </div>
        </div>
        <div class="row">
            <div class="col white-hui">
                <div class="icon-ctrl-bottom"><img  src="img/icon_personal.png"/></div>
                <h5 class="text-bottom">个人信息</h5>
            </div>
            <div class="col white-hui">
                <div class="icon-ctrl-bottom"><img  src="img/icon_img.png"/></div>
                <h5 class="text-bottom">精品图片</h5>
            </div>
            <div class="col white-hui">
                <div class="icon-ctrl-bottom"><img  src="img/icon__service.png"/></div>
                <h5 class="text-bottom">服务故事</h5>
            </div>
            <div class="col white-hui">
                <div class="icon-ctrl-bottom"><img  src="img/icon_online.png"/></div>
                <h5 class="text-bottom">在线看店</h5>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
